<style>
	body{
		text-align: center;
		font-family: Serif;
	}
	#content{
		border: 5px solid black;
		border-radius: 15px;
		width: 80%;
		margin: 0 auto;
		background-color: #F5F5F5;
	}	
	h1{
		text-align: center;
		margin:0;
		position: relative;
			top: 15px;
	}
	ul{
		list-style-type: none;
		width: 330px;
		margin: auto;
	}
	li{
		float: left;

	}
	li a{
		text-decoration-line: none;
		display: block;
		padding: 10px;
		color: black;
		clear: both;
		width: 65%;
		margin: 0 auto;
		border: 2px solid black;
	}
	a:link {
		color: black;
	}
	a:visited {
		color: black;
	}
	a:hover {
		background-color: #F5F5F5;
	}
	a:active {
		background-color: black;
		color: white;
	}
	p{
		text-align: center;
		padding: 15px;
	}
	#footer{
		color: white;
		text-align: center;
		clear: both;
		background-color: #555555;
		padding: 10px;
	}
</style>